body{
    background-color: grey;
}
.div{
    text-align: center;
}
.desk{
    border: 20px solid black;
    border-radius: 50%;
    color: grey;
    width: 20%;
    
}
.graphic{
    border: 20px solid black;
    border-radius: 50%;
    color: grey;
    width: 20%;
}
.think{
    border: 20px solid black;
    border-radius: 50%;
    color: grey;
    width: 20%;
}