.container {
    position: relative; 
    margin: 0 auto; 
    width: 100%;
  }
  
  .container .content {
    position: absolute;
    bottom: 0;
    font-size: 14.5px; 
    background: rgb(0, 0, 0); 
    background: rgba(123, 116, 116, 0.5); 
    color: #f1f1f1; 
  }

  header {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 150px auto;
}
