@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Calligraffitti&family=Caveat:wght@400..700&family=Lobster&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap');
:root {
    --primary-color: #dca7b8  ;
    --secondary-color: #5a5e72 ;
    --accent1-color: #fbf5f3;
    --accent2-color: #396E94;
    --heading-font: Calistoga, Lobster, sans-serif;
    --paragraph-font: Lora, Merriweather, sans-serif;
}

* {
    box-sizing: border-box;
    margin: auto 0;
    padding: 0;
}

body {
    background-color: var(--accent1-color) ; 
    font-family: var(--heading-font);
}

#content {
    max-width: 1600px;
    margin: 0 auto; 
    padding: 0 1em;
}

header {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 150px auto;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 80px ;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #fcfbfb ;
    text-decoration: none;
    padding: 35px;
} 

nav a:hover {
    background-color: var(--secondary-color) ;
    color: #fcfbfb ;
}

#chef{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -10px;
}

#chef-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#chef-img{
    width: 100%;
}

#chef-msg{
    grid-column: 1/3;
    grid-row: 1/2;
    margin-top: 100px;
}

.home-title {
    color: var(--accent1-color) ;
    font-family: var(--paragraph-font);
    font-size: 4em;
    margin-top: 10px;
    justify-self: left;
}

.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.breakfast-card{
    margin: 100px 0;
    grid-column: 2/4 ;
} 

.lunch-card{
    margin: 100px 0;
    grid-column: 5/7 ;
}

.dinner-card{
    margin: 100px 0;
    grid-column: 8/10 ;
} 

.icon {
    width: 80px;
    padding-top: 10px;
    transition: transform .5s;
    width: 100%;
}

.icon:hover{
    opacity: .6;
    transform: scale(1.1);
}

main section img {
    box-sizing: border-box;
}

main section {
    text-align: center;
} 

.grocery-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1em;
    grid-column:1/11 ;
    padding: 1em;
}

.grocery{
    width: 100%;
    grid-column: 1/2 ;
    grid-row: 2/3 ;
    box-shadow: 5px 5px 10px black;
}

.msg {
    background-color: var(--accent1-color) ;
    color: black;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 2/3 ;
    grid-row: 2/3;
    box-shadow: 5px 5px 10px black ;
}

.msg h2 {
    color: black ;
    margin: 0;
    font-family: var(--heading-font);
    text-align: left;
    text-decoration-line: underline;
}

.msg p { 
    color: var(--secondary-color) ;
    font-family: var(--paragraph-font); 
    font-size: .8em;
    padding-bottom: 15px;
}

.list-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
}

.one{
    grid-column: 1/2;
}

.two{
    grid-column: 2/3;
}

ul{
    list-style-position:inside;
    text-align: left;
}

ol{
    list-style-position:inside;
    text-align: left;
}

#tips{
    grid-column: 1/11;
    margin-top: 100px;

}

.break-grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
}

.yog-img{
    grid-column: 1/2;
    grid-row: 1/2;
}

.yog{
    grid-column: 2/3;
    grid-row: 1/2;
}

.egg{
    grid-column: 1/2 ;
    grid-row: 2/3;
}

.egg-img{
    grid-column: 2/3;
    grid-row: 2/3;
}

.lunch-grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
}

.tost-img{
    grid-column: 1/2;
    grid-row: 1/2;
}

.tost{
    grid-column: 2/3;
    grid-row: 1/2;
}

.sand{
    grid-column: 1/2 ;
    grid-row: 2/3;
}

.sand-img{
    grid-column: 2/3;
    grid-row: 2/3;
}

.dinner-grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
}

.sweet-img{
    grid-column: 1/2;
    grid-row: 1/2;
}

.sweet{
    grid-column: 2/3;
    grid-row: 1/2;
}

.stack{
    grid-column: 1/2 ;
    grid-row: 2/3;
}

.stack-img{
    grid-column: 2/3;
    grid-row: 2/3;
}

.bread-grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.bread-img{
    grid-column: 1/2;
}

.bread{
    grid-column: 2/3;
}

footer {
    background-color: var(--primary-color)  ;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    background-color: var(--secondary-color) ;
    color: var(--accent1-color) ;
    text-decoration:none ;
    margin-top: 100px;
}

footer a:hover {
    background-color: var(--secondary-color) ;
    color: var(--accent1-color) ;
}

footer p a:hover {
    font-size: 1.2em;
    text-decoration: underline;
}